-# メッセージ１つあたりの表示テンプレート（繰り返し使用）
.message{ data: { id: 'message.id' } }
  .upper
    .upper__name
      = message.user.name
    .upper__date
      = message.created_at.strftime("%Y-%m-%d%H:%M") 
  .message-text
    - if message.content.present?
      %p.message-text__content
        = message.content
    = image_tag message.image.url, class: 'message-text__image' if message.image.present?
