.side_bar
    .side_bar__side-header
        .side_bar__side-header__box
            %p.side_bar__side-header__box__user-name
                taniguchi
            %ul.side_bar__side-header__box__box-menu
                %li.side_bar__side-header__box__box-menu__new-group
                    = icon('far', 'edit')
                %li.side_bar__side-header__box__box-menu__edit-user
                    = icon('fas', 'cog')
    .side_bar__groups
        .side_bar__groups__group
            %p.side_bar__groups__group__group-name
                a
            %p.side_bar__groups__group__latest-message
                まだメッセージはありません