.side_bar {
    width: 300px;
    float: left;


    &__side-header {
        background-color: #253141;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    

        &__box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: bold;
        
            &__user-name {
                font-size: 20px;
                color: white;
            }
            &__box-menu {
                display: flex;
                list-style: none;
            
                &__new-group {
                    margin-left: 0.3em;
                    color: white;
                }
                &__edit-user {
                    margin-left: 0.3em;
                    color: white;

                }
            }
        }
    }
    &__groups {
        height: calc(100vh - 100px);
        background-color: #2f3e51;
        padding: 20px 20px 0;
        overflow: scroll;
    
        &__group {
            margin-bottom: 40px;
            color: white;
        
            &__group-name {
                font-size: 15px;
                margin-bottom: 5px;
            }

            &__latest-message {
                font-size: 11px;
                
            }
        }
    }
}